streamlit
pillow
pytesseract
easyocr
openai
chromadb
sentence-transformers
sympy
numpy
python-dotenv
torch 
torchvision 
torchaudio 
opencv-python-headless
pandas
groq 
speechrecognition 
pydub
ffmpeg-python
streamlit-mic-recorder
sounddevice 
soundfile


